@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0fafa;
    color: #0d3c47;
  }

  .dark body {
    background-color: #071e26;
    color: #e0f7fa;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}

/* Remove weird edge anchor point for graph nodes */
.react-flow .react-flow__handle {
  opacity: 0;
}
