@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    @apply border-border;
    outline-color: color-mix(in oklch, var(--ring) 50%, transparent);
  }

  body {
    margin: 0;
    font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-background text-foreground;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  :root {
    --background: #f0fafa;
    --foreground: #0d3c47;
    --card: #ffffff;
    --card-foreground: #0d3c47;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #0097a7;
    --primary-foreground: #ffffff;
    --secondary: #26a69a;
    --secondary-foreground: #ffffff;
    --muted: #f5f5f5;
    --muted-foreground: #37737d;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #dc2626;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #a3a3a3;
    --chart-1: #dedede;
    --chart-2: #737373;
    --chart-3: #525252;
    --chart-4: #404040;
    --chart-5: #262626;
    --radius: 0.625rem;
    --sidebar: #fafafa;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #a3a3a3;
    --placeholder-text: #c2c0b6;
  }
  html {
    @apply font-sans;
  }
}